


.card-body{
    background:rgb(157, 239, 245, .2);
    padding-top:40rem;
    padding: 1rem 0 !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    font-weight:700;
    font-size:28px;
   
    
}
.card:hover{
    box-shadow:5px 10px 20px 15px rgb(206, 176, 9)!important;
}

.card-img-top{
    transform:scale(1);
}
.card-img-top:hover{
    transform:scale(1.2);
}