.Jumbotron {
    padding-top: 2.5%;
    color: rgba(54, 54, 54, 0.664);
    text-shadow: 5px 10px 20px 15px black;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    font-weight:700;
    font-size:28px;


}

